{% extends "base.html" %}

{% block content %}
    <ul class="user-list">
        {% for user in users %}
        <li class="user-entry"> 
            <a href="{{ url_for('get_movies', user_id=user.id) }}">{{ user.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('create_user') }}" method="post">
        <label for="user_name">Create User</label>
        <input type="text" name="user_name">
        <button type="submit">Create</button>
    </form>

{% endblock %}