{% extends "base.html" %}

{% block content %}
    <ul class="user-list">
        {% for movie in movies %}
        <li>
            <img src="{{ movie.poster_url }}" alt="No Poster">
            <form method="post" class="movie-form">
                
                <div class="movie-info">
                    <input type="text" name="name" value="{{ movie.name }}">

                    <p><strong>Written by:</strong> {{ movie.director }}</p>
                    <p><strong>Year:</strong> {{ movie.year }}</p>


                    <div class="action-buttons">
                        <button
                            type="submit"
                            formaction="{{ url_for('update_movie_name',
                            user_id=user_id,
                            movie_id=movie.id) }}">
                            Update
                        </button>

                        <button
                            type="submit"
                            formaction="{{ url_for('delete_movie_by_user_id',
                            user_id=user_id,
                            movie_id=movie.id) }}"
                            onclick="return confirm('Delete this movie?')">
                            Delete
                        </button>
                    </div>
                </div>

            </form>
        </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('get_movies', user_id=user_id) }}" method="post">
        <label for="movie_name">Add Movie</label>
        <input type="text" name="movie_name">
        <button type="submit">Add</button>
    </form>

{% endblock %}